<a class="skip-link" href="#main-content">Saltar al contenido principal</a>

<div class="a11y-root">
  <app-navbar></app-navbar>

  <main class="app-main" id="main-content" tabindex="-1">
    <router-outlet></router-outlet>
  </main>

  <app-footer></app-footer>
</div>

<app-accessibility-panel></app-accessibility-panel>
<app-chatbot-widget></app-chatbot-widget>

<div class="toast-stack" *ngIf="toasts.length">
  <div
    class="toast"
    *ngFor="let toast of toasts"
    [ngClass]="{
      'toast--success': toast.type === 'success',
      'toast--error': toast.type === 'error',
      'toast--info': toast.type === 'info'
    }"
  >
    {{ toast.message }}
  </div>
</div>
